.container {
    margin: 1rem;
}

.container span {
    margin: 1rem;
}

.container ul {
    display: flex;
    justify-content: center;
}

.container li {
    margin: 0.5rem;
}

.container button.active {
    background-color: #dddddd;
}

.container button.notActive {
    background-color: white;
}